html, body {
	height : 100%;
}

nav {
	color : #fff;
	background-color: #5e35b1;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.collapsible-header {
	background-color: #5e35b1;
	color : #fff;
}

.collapsible-body {
	padding-left: 2em;
	padding-right: 2em;
	background-color: #ede7f6;
}

.collapsible-body p {
	font-size: .7em;
	opacity : 0.5;
	padding : .3em;
}

.collapsible-body .switch {
	padding : .5em;
}

label {
	color : #5e35b1;
	padding : 0 auto;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #d1c4e9;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #5e35b1;
}

.switch label input[type=checkbox]:checked+.lever.tp {
	background-color: #00c853;
}

.switch label input[type=checkbox]:checked+.lever.fp {
	background-color: #ffc400;
}

.switch label input[type=checkbox]:checked+.lever.fn {
	background-color: #f44336;
}

.switch label input[type=checkbox]:checked+.lever.tn {
	background-color: #00b0ff;
}


.rotate-45 {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#probability-zoom , #rebin , #filter-high-tp , #filter-low-tn{
	margin : 1em auto;
}

.noUi-horizontal {
    height: .5em;
}

.noUi-handle:after, .noUi-handle:before {
	display: none;
}

.noUi-horizontal .noUi-handle {
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	border-width: 0;
	background-color : #d1c4e9;
	border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    left: -8px;
    top: -9px;
}

#probability-zoom .noUi-base .noUi-connect , #rebin.noUi-connect {
	background: #5e35b1;
}

#probability-zoom.noUi-target , #rebin.noUi-target {
	border-color: #5e35b1;
	/*border-width : 0px;*/
}

#filter-high-tp.noUi-connect {
	background: #00c853;
}

#filter-high-tp.noUi-connect {
	border-color: #00c853;
	box-shadow: none;
}

#filter-low-tn.noUi-background .noUi-base .noUi-connect {
	background: #00b0ff;
	box-shadow: none;
}

#filter-low-tn.noUi-target {
	border-color: #00b0ff;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip , .noUi-horizontal .noUi-handle-upper .noUi-tooltip{
    background-color: rgba(255,255,255,0);
	border-radius: 50%;
	border-width: 0;
	padding: 0;
	font-size: .7em;
    bottom: 0;
    left: .1em;
    top: .4em;
}

#rebin.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
	top : .2em;
	left : .5em;
	font-size: .8em;
}

.btn-floating {
	margin : 0.5em 2em;
}

.material-tooltip {
	color : #5e35b1;
	font-size: .7em;
}

.backdrop {
	background-color: rgba(255,255,255,0);
}












.main-visual {
	width : 100%;
}

.probability-histograms svg {
	margin: 1em 0.2em;
	border : 1px solid #5e35b1;
	border-radius: 3px;
	background-color: #ede7f6;
}

.probability-histograms rect:hover {
	stroke : black; 
}


.tick text {
	font-size: .6em;
}

svg .bar-tp {
	fill : #00c853;
}

svg .bar-fp {
	fill : #ffc400;
}

svg .bar-fn {
	fill : #f44336;
}
svg .bar-tn {
	fill : #00b0ff;
}

.d3-tip {
	text-align: center;
  line-height: 1;
  font-size: 0.7em;
  padding: .3em ;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}