html, body {
	width: 100%;
	/*min-height: 100%;*/
	font-family: 'Raleway',sans-serif;
}

body{
	background-color: #eceff1;
}

nav {
	background-color: #4B4966;
}

nav img.responsive-img {
	height: 48px;
	width: 48px;
	opacity: 0.85;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: -0.2em;
}

nav .brand-logo {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	font-weight: lighter;
}

.row .central-pane.col , .row .left-pane.col , .row .right-pane.col {
	padding : 0 0.3rem;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.left-pane .collapsible-header {
	background-color: #a490d8;
	color: #263238;
	font-size: 0.9em;
	padding: 0 0.3em;
}

.left-pane .collapsible-header i{
	margin-right: 0.3em;
}

.left-pane .collapsible-body {
	color: #4B4966;
	background-color: #D3CDD7;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-family: 'Josefin Sans', sans-serif;
}

.left-pane .collapsible-body.summary {
	background-color: #fff;
}

.left-pane .collapsible-body p {
	font-size: .7em;
	opacity : 0.5;
	padding : .3em;
}

label {
	color: #4B4966;
	padding : 0 auto;
}

.control-matrix label , [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	font-size: 0.8em;
}

form p {
	margin-top :0;
}

[type="radio"].with-gap:checked+label:after{
	border-color : #b388ff;
	background-color: #b388ff;
}

[type="radio"].with-gap:checked+label:before {
 	border-color : #b388ff;
}

[type="checkbox"]+label:before {
	top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
}

[type="checkbox"]:checked+label:before {
	top: 0px;
    left: 0px;
    width: 10px;
    height: 17px;
	border-right: 2px solid #b388ff;
	border-bottom: 2px solid #b388ff;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #d1c4e9;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #312450;
}

.switch label input[type=checkbox]:checked+.lever.tp {
	background-color: #00b0ff;
}

.switch label input[type=checkbox]:checked+.lever.fp {
	background-color: #ffc400;
}

.switch label input[type=checkbox]:checked+.lever.fn {
	background-color: #00c853;
}

.switch label input[type=checkbox]:checked+.lever.tn {
	background-color: #ff5252;
}

.switch label .lever{
	margin: 7px 2px;
}

.rotate-45 {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.divider {
	width: 100%;
	height : 1px;
	background-color: #312450;
	margin : 1px;
	/*border-radius: 2px;*/
}

#probability-zoom , #rebin , #filter-high-tp , #filter-low-tn{
	margin : 0.3em 0.5em;
}

.noUi-horizontal {
    height: .4em;
}

.noUi-handle:after, .noUi-handle:before {
	display: none;
}

.noUi-horizontal .noUi-handle {
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	border-width: 0;
	background-color : #d1c4e9;
	border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    left: -8px;
    top: -9px;
}

#probability-zoom .noUi-base .noUi-connect , #rebin.noUi-connect {
	background: #a490d8;
}

#probability-zoom.noUi-target , #rebin.noUi-target {
	border-color: #a490d8;
	/*border-width : 0px;*/
}

#filter-high-tp.noUi-connect {
	background: #00b0ff;
}

#filter-high-tp.noUi-connect {
	border-color: #00b0ff;
	box-shadow: none;
}

#filter-low-tn.noUi-background .noUi-base .noUi-connect {
	background: #ff5252;
	box-shadow: none;
}

#filter-low-tn.noUi-target {
	border-color: #ff5252;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip , .noUi-horizontal .noUi-handle-upper .noUi-tooltip{
    background-color: rgba(255,255,255,0);
	border-radius: 50%;
	border-width: 0;
	padding: 0;
	font-size: .7em;
    bottom: 0;
    left: .1em;
    top: .4em;
}

#rebin.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
	top : .2em;
	left : .5em;
	font-size: .8em;
}

.left-pane .btn-floating, .modal .btn{
	margin : 0.5em 0.5em;
	background-color: #4B4966 ;
}

.material-tooltip {
	color : #fff;
	/*margin-top: 0.8em !important;*/
	font-size: .6em;
	/*opacity: 0.7 !important;*/
	padding: 0.4em;
	min-height: 0px;
	border-radius: 5px;
}

.backdrop {
	background-color: #5e42a6;	
}

.class-histogram {
	overflow-x: auto;
	overflow-y: auto;
}

.dont-display{
	display : none;
}


.filled-gray {
	fill : #bdbdbd !important;
}

.stroked-gray {
	stroke : #757575 !important;
	fill : #fff !important;
}

.probability-histograms {
	margin-top: 1em;
	width : 100%;
	height : 38em;
	overflow-y: auto;
}

.probability-histograms svg {
	margin: 0.2em;
	border : 1px solid #312450;
	border-radius: 3px;
	background-color: #fff;
}

.probability-histograms rect:hover , .left-bar rect:hover    , .confusion-matrix rect:hover{
	stroke : black; 
}

.tick text {
	font-size: .6em;
}

svg .left-bar-tp ,svg .bar-tp , svg .overlap-tp , svg .overlap-left-bar-tp{
	fill : #00b0ff;
}

svg .left-bar-fp , svg .bar-fp , svg .overlap-fp , svg .overlap-left-bar-fp{
	fill : #ffc400;
}

svg .left-bar-fn , svg .bar-fn , svg .overlap-fn , svg .overlap-left-bar-fn{
	fill : #00c853;
}

svg .left-bar-tn , svg .bar-tn , svg .overlap-tn , svg .overlap-left-bar-tn{
	fill : #ff5252;
}

.d3-tip{
	text-align: center;
    line-height: 1;
    font-size: 0.7em;
    padding: .3em ;
    background: #5e42a6;
    color: #fff;
    border-radius: 5px;
    opacity: 0.8;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #5e42a6;
    content: "\25BC";
    position: absolute;
    text-align: center;
    opacity: 0.8;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/*right -pane*/

.tabbed-view {
	margin-top: 1em;
	width : 100%;
	height : 35em;
}

.tabbed-view .tabs {
	background-color: #ede7f6;
}

.tabbed-view .tabs .tab a {
	color : #312450;
	font-size: 0.8em;
}

.tabbed-view .tabs .tab a.active {
	color : #312450;
	font-size: 1em;
}

.tabbed-view .tabs .tab a:hover {
	color : #312450;
	font-size: 0.9em;
}

.tabbed-view li.tab.col {
	background-color: #a490d8;
	border : 2px solid #ede7f6;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
}

.tabbed-view .indicator {
	height: 3px;
	background-color : #312450; 
}

#data-samples {
	height: 100%;
}

#data-samples .btn-floating {
	margin : 0.5em 0.5em;
	background-color: #4B4966 ;
}

#data-samples .data-table{
	height : 90%;
	overflow-x: auto;
	overflow-y: auto;
}

#feature-view , #conf-mat .confusion-matrix {
	height : 100%;
	overflow-x: auto;
	overflow-y: auto;
}

.control-matrix {
	margin: 1em 0;
	overflow: hidden;
}

td, th {
	white-space: nowrap;
	padding : 5px;
	border : 1px;
}

a .small-text{
	font-size: 0.8em;
	color: #757575;
}

.box-dasharray{
	stroke-dasharray : 3;
}

.box-width{
	stroke-width : 3;
}

.box-stroke{
	stroke: #4B4966;
}

.box-stroke-light{
	stroke: #00b0ff;
}

.box-fill{
	fill : #fff;
}


.box-indicator-text{
	font-size : 0.8em;
    fill : #263238;
    font-style : "roboto";
}

